:root {
    --fundo: #141414;
    --logo: #E50914;
    --nav-item: #AAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: 3em;
    margin-right: 3em;
}

.container a {
    text-decoration: none;
}

.logo {
    font-family: 'Oswald', sans-serif;
    color: var(--logo);
    font-size: 30px;
    font-weight: 500;
}

header nav a {
    text-decoration: none;
    color: var(--nav-item);
    margin-right: 10px;
    font-size: 17px;
}

header nav a:nth-last-child(1) {
    margin-right: 0;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("/img/coraline.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 10px rgba(7, 11, 17, 0.699);


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 15%;
    font-size: 42px;
}

.descricao {
    font-size: 18px;
    margin-bottom: 2em;
    margin-top: .5em;
}

.botoes {
    display: flex;
}

.botao {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .60);
    padding: 15px 20px;
    margin-right: 2em;
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover {
    background-color: #fff;
    color: #000;
}

.botao i {
    margin-right: 5px;
}

.filme-principal .container {
    width: 60%;
}

/*carrossel*/

.carrossel-filmes {
    margin-left: 3em;
}

.para-familia, .filmes-aclamados, .series, .em-alta{
    font-size: 20px;
    margin: .5em 0;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

/* seção séries e filmes*/

.wrap-posters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;
}

.poster-series, .poster-filmes {
    width: 200px;
    margin-bottom: 1em;
}

/*footer*/

footer {
    padding: 40px 0 50px 0;
}

.wrap-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.icons {
    font-size: 40px;
    margin-right: 4em;
    color: var(--nav-item);
}

.icons:last-child {
    margin-right: 0;
}

footer p {
    display: block;
    margin: 20px auto 0 auto;
    width: 90px;
    font-style: italic;
    font-size: 14px;
    color: var(--nav-item);
    padding-left: 8px;
}

/*seção sobre*/

.wrap-sobre {
    margin: auto;
    width: 70%;
}

.title-sobre {
    font-size: 25px;
    margin: 1em 0 .5em 0;
}

.descricao-sobre {
    text-align: justify;
    line-height: 1.25;
}

