:root {
    --fundo: #141414;
    --logo: #E50914;
    --nav-item: #AAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: 3em;
    margin-right: 3em;
}

.container a {
    text-decoration: none;
}

.logo {
    font-family: 'Oswald', sans-serif;
    color: var(--logo);
    font-size: 30px;
    font-weight: 500;
}

header nav a {
    text-decoration: none;
    color: var(--nav-item);
    margin-right: 10px;
    font-size: 17px;
}

header nav a:nth-last-child(1) {
    margin-right: 0;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("/img/coraline.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 10px rgba(7, 11, 17, 0.699);


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 15%;
    font-size: 42px;
}

.descricao {
    font-size: 18px;
    margin-bottom: 2em;
    margin-top: .5em;
}

.botoes {
    display: flex;
}

.botao {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .60);
    padding: 15px 20px;
    margin-right: 2em;
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover {
    background-color: #fff;
    color: #000;
}

.botao i {
    margin-right: 5px;
}

.filme-principal .container {
    width: 60%;
}

/*carrossel*/

.carrossel-filmes {
    margin-left: 3em;
}

.para-familia, .filmes-aclamados, .series, .em-alta{
    font-size: 20px;
    margin: .5em 0;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

/* seção séries e filmes*/

.wrap-posters {
    margin: 2em 3em 0 3em;
}

.poster-series, .poster-filmes {
    width: 200px;
    margin: 0 0 1em 1em;
}

/*footer*/

footer {
    padding: 100px 0 50px 0;
}

.wrap-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.icons {
    font-size: 40px;
    margin-right: 4em;
    color: var(--nav-item);
}

.icons:last-child {
    margin-right: 0;
}

footer p {
    display: block;
    margin: 20px auto 0 auto;
    width: 90px;
    font-style: italic;
    font-size: 14px;
    color: var(--nav-item);
    padding-left: 8px;
}

.down {
    padding-top: 60%;
}

/*seção sobre*/

.wrap-sobre {
    margin: auto;
    width: 60%;
}

.title-sobre {
    font-size: 25px;
    margin: 2em 0 .5em 0;
}

.descricao-sobre {
    text-align: justify;
    line-height: 1.25;
}

.indicacao {
    margin: 1em 0;
}

.link {
    color: var(--nav-item);
    text-decoration: none;
    font-weight: 600;
}

.wrap-video {
    text-align: center;
    margin: 1em 0 2em 0;
}

iframe {
    width: 415px;
    height: 232px;
}

/*pop-up*/

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 65%;
    height: 90%;
    background: rgb(46, 46, 46);
    border-radius: 8px;
    z-index: 999999;
    display: none;
}

.far.fa-times-circle {
    color: var(--nav-item);
    font-size: 2.5em;
    position: absolute;
    right: .25em;
    top: .20em;
}

.gif {
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
}

.play-button {
    position: absolute;
    top: 12em;
    left: 2em;
}

.play-button button {
    padding: 12px 30px;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background: #fff;
}

.play-button button i {
    margin-right: 10px;
}

.details-popup {
    padding: .5em 0 0 2em;
    font-size: 18px;
}

.info-plus {
    display: none;
}

.livre {
    background-color: rgb(4, 156, 4);
    font-weight: bolder;
    font-size: 16px;
    vertical-align: middle;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 5px;
}

.elements-popup {
    display: flex;
    flex-wrap: wrap;
}

.sinopse-popup {
    width: 60%;
    text-align: justify;
    padding: 1em 0 0 2em;
    font-size: 18px;
}

.info-popup {
    width: 38%;
    float: right;
    padding-left:3em;
}

.info-popup p {
    margin-bottom: .5em;
    font-size: 16px;
}

.info-mais {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.title-popup {
    font-size: 1.25em;
    margin: 1em 2em;
}

