:root {
    --fundo: #141414;
    --logo: #E50914;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fundo);

}

.logo {
    font-family: 'Oswald', sans-serif;
    color: var(--logo);
    font-size: 40px;
    font-weight: 500;
}